<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Detalhes pokedex</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="detalhes">
        <h1><%= poke.nome %> </h1>

        <table>
            <tr> 
                <thead>
                    <th colspan="2">Detalhes</th>
                </thead>
                <tbody>
                    <tr>
                        <td>tipo:</td>
                        <td><%= poke.tipo %> </td>   
                    </tr>

                    <tr>
                        <td>altura:</td>
                        <td><%= poke.altura %> </td>
                    </tr>

                    <tr>
                        <td>peso:</td>
                        <td><%= poke.peso %> </td>
                    </tr>
                </tbody>
            </tr>
        </table>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>