<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="icon" href="/img/ico.ico"/>
    <title>Pokédex</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <h1 id="index">Pokédex</h1>

      <section>
        <div id="paragrafo">
          <p id="introducao">
            Bem vindo(a) a pokédex! Aqui você pode encontrar informações sobre os 3 pokémons iniciais e também pode adicionar novos pokémons encontrados na aba de Cadastrar! Para mais informações do pokémon, clique em qualquer lugar dele.
          </p>
        </div>
      </section>

      <hr>

      <section id="pokemons">
        <% pokedex.forEach(pokemon => { %>
        <a href="/detalhes/<%= pokemon.id %> ">
          <article class="card">
            <div class="nome__do__pokemon"><%= pokemon.nome %></div>
            <div class="card_image">
              <img
                src="<%= pokemon.imagem %> "
                alt="Imagem do pokemon <%= pokemon.nome %> "
              />
              <hr>
            </div>
            <div class="status">
              <div><%= pokemon.id %></div>
              <div><%= pokemon.tipo %></div>
            </div>
          </article>
        </a>
        <% }) %>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
